@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-hanken: 'Hanken Grotesk', sans-serif;
    --font-questrial: 'Questrial', sans-serif;
    --color-light-blue: #63EDFD;
    --color-very-dark-blue: #2006B4;
    --color-cyan-button: #90FFEC;
    --color-purple-button: #6E0DBE;
    --color-purple-button2: #6F49CC;
    --color-light-purple: #9381BF;
    --color-gray-input: #D9D9D9;
    --color-cyan-input: #BAF5FC;
    --color-cyan-shadow: #4163DE;
    --color-cyan-shadow-white: #18E2EC;
    --color-cyan-shadow-como: #26B5D9;

    --color-cyan-nymeria: #9AFCFF;
    --color-dark-blue-nymeria: #220347;

    --color-yellow-abyss: #F9E2DA;
    --color-dark-abyss: #1F1C19;

    --color-yellow-nefret: #FFF4D0;
    --color-dark-nefret: #925601;

    --color-peach-han: #FFC49A;
    --color-red-han: #730202;
}